table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}
th {
  background-color: #f2f2f2;
}

.completed {
  color: green;
  font-weight: bold;
}

.cancelled {
  color: red;
  font-weight: bold;
}

.btn_completed {
background-color: rgba(34, 168, 34, 0.71);
font-size: 15px;
margin: 0 5px;
}

.btn_cancelled {
  background-color: rgba(234, 19, 19, 0.831);
  font-size: 15px;
  margin: 0 5px;
}

